.transfer-cmp {
    .title {
        color: black;
        text-transform: capitalize;
        font-family: cursive;
        font-size: 1.2rem;
    }

    form {
        display: flex;
        align-items: center;

        label {
            margin-right: 10px;
            text-transform: uppercase;
        }

        input {
            width: 60px;
            height: 20px;
            margin-right:10px;
        }

        button {
            cursor: pointer;
            border: none;
            background-color: rgb(255, 255, 255);

            img {
                width: 35px;
            }
        }
    }
}